.idea
sites/*/*
temp/*
GaiaEHR
GaiaEHR.iml
gaiaehr.iml
contrib/snomed/*
temp
/modules/advancetasks
/modules/billing
/modules/appointments
/modules/erx
/modules/phimail
/modules/worklist
AutomatedMeasureCalculation
