GaiaEHR.iml
.project
.idea
sites/*/*
lib/dompdf_0-6-0_beta3/lib/fonts/log.htmregistry.php
registry.php
/.settings
/*.iml
/*.stackdump

modules/worklist
modules/messaging
modules/dental
sites/default/*
