table.rep-table
{
    margin: 2px;
    margin: 2px;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}

div.rep-filters-class
{
    display: block;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}

td.rep-filterName
{
    margin-left: 4px;
    font-weight: bold;
    white-space: nowrap;
    border-left: 2px solid #1D822C;
    padding: 2px;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}

td.rep-filterValue
{
    padding: 2px;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}

span.rep-bold
{
    font-weight: bold;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}

h1.rep-title
{
    display: block;
    margin: 2px;
    padding: 2px;
    color: #35AEFF;
    border-bottom: 1px dotted #ADADAD;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}
