@charset "utf-8";
/* CSS Document */
/* = disabled nodes
 */

body {
	background: #FFFFFF;
	font-family: 'Helvetica';
}

h2, h1, h3 {
	color: #596F8F;
	display: block;
	border-bottom: 1px dotted #000099;
}

table {
	width: 100%;
	font-size: 12px;
}

th {
	border-bottom: 1px solid #555555;
}
