@font-face{
	font-family: 'Cuprum';
	src: url('../../../ui_fonts/Cuprum.ttf');
}

body{
	margin: 0px;
	padding: 0px;
}

.headerReportCenter{
	background-image: url(../../../ui_app/header-bg.png) !important;
	height: 93px;
	padding-left: 15px;
	position:relative;
	top: 0px;
	border-bottom: 3px solid #ee723f;
}

h2{
	font-family: 'Cuprum';
	font-size: 36px;
	color: #ffffff;
	line-height: 93px;
	height: 93px;
	margin: 0px;
	padding: 0px;
}

.CategoryContainer{
	float: left;
	margin: 5px;
	padding: 5px;
	border-right: 1px solid #f3f3f3;
}
.CategoryContainer .title{
	display: block;
	border-bottom: 1px dotted #7f381b;
	font-size: 16px;
}
.CategoryContainer ul{
	list-style-type: circle;
	margin: 0px;
	padding: 0px;
	margin-left: 20px;
}
.CategoryContainer li{
	color: #000000;
	margin: 0px;
	list-style-type: circle;
}
.CategoryContainer li a{
	text-decoration: none;
	color:#000000;
}
