@font-face{
	font-family: 'Cuprum';
	src: url('../../../ui_fonts/Cuprum.ttf');
}

body{
	margin: 0px;
	padding: 0px;
}

.headerReportCenter{
	background-image: url(../../../ui_app/header-bg.png) !important;
	height: 93px;
	padding-left: 15px;
	position:relative;
	top: 0px;
	border-bottom: 3px solid #ee723f;
}

h2{
	font-family: 'Cuprum';
	font-size: 36px;
	color: #ffffff;
	line-height: 93px;
	height: 93px;
	margin: 0px;
	padding: 0px;
}
