@font-face{
	font-family: 'OpenSans-CondLight';
	src: url('../fonts/OpenSans-CondLight.ttf');
}

body{
	font-family: 'OpenSans-CondLight';
	margin: 0px;
	padding: 0px;
}

.headerReportCenter{
	background-image: url(../images/header-bg.png) !important;
	height: 93px;
	padding-left: 15px;
	position:relative;
	top: 0px;
	border-bottom: 3px solid #ee723f;
}

h2{
	font-family: 'OpenSans-CondLight';
	font-size: 36px;
	color: #ffffff;
	line-height: 93px;
	height: 93px;
	margin: 0px;
	padding: 0px;
}
.CategoryContainerItem{
	border: 0px;
	background-color: #ffffff;
}

.CategoryContainer{
	float: left;
	margin: 5px;
	padding: 5px;
	border-right: 1px solid #f3f3f3;
	padding-right: 10px;
}
.CategoryContainer .title{
	font-family: 'OpenSans-CondLight';
	display: block;
	border-bottom: 1px dotted #7f381b;
	font-size: 24px;
	color: #d86232;
}
.CategoryContainer ul{
	list-style-type: circle;
	margin: 0px;
	padding: 0px;
	margin-left: 20px;
}
.CategoryContainer li{
	font-family: 'OpenSans-CondLight';
	font-size: 16px;
	color: #000000;
	margin: 0px;
	list-style-type: square;
}
.CategoryContainer li a{
	font-family: 'OpenSans-CondLight';
	text-decoration: none;
	color:#000000;
}
