.features {
	font-size: 19px;
	padding: 5px;
	border: 1px solid #ccc;
	background-color: white;
	border-radius: 5px;
}.features . version {
	font-weight: bold;
}
.features h2 {
	font-size: 32px;
	text-align: center;
	margin: 20px 0;
}
.feature {
	background: url("../images/circle-learn.png") 0 0 no-repeat #ffffff;
	min-height: 60px;
	margin: 10px;
	padding: 10px 10px 10px 70px;
}
.feature h3 {
	font-weight: bold;
}
.features .footer {
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	background-color: #1469a4;
}
.features .footer a {
	color: white;
}
.leftNav{
	border-right: 1px solid #ccc;
}
.patientList img {
    float: left;
}
.patientList h2 {
	margin-left: 70px;
}
.patientList p {
	margin-left: 70px;
}